body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top right , red,blue,white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1{
    font-size: 1.9rem;
}

    .container{
        background: #f8f3f3;
        padding: 20px;
        border-radius: 9px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    form{
        display: flex;
        flex-direction: column;
    }

    label{
        margin-bottom: 10px;
    }
    input{
        padding: 8px;
        margin-bottom: 15px;
    }
    
    button{
        padding: 10px;
        background-color: #3131a1;
        color:#fff;
        border-radius: 5px;
        cursor: pointer;
    }
    
    button:hover{
        background-color: #191;
    }
    
    
    
